<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Project</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <style>
        html, body {
            padding: 10px;
            clear: both;
            float: left;
        }

        #singleBlogPost {
            border: 2px solid blue;
            padding: 10px;
            margin-bottom: 50px;
        }

        #blogPostCreation {
            border: 2px solid black;
        }

        #blogPostCreation > * {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to my blogsite</h1>
    <div id='blogPosts'>
        <blog-post
        v-for='post in posts'
        :blogpost='post'
        ></blog-post>
    </div>

    <div id="blogPostCreation">
        <h2>Make new blog post</h2>
        <input v-model='title'><br>
        <input v-model='username'><br>
        <input v-model='date'><br>
        <input v-model='content'><br>
        <button @click='publishPost'>Publish Post</button>
    </div>
    

    <script>
        Vue.component('blog-post', {
            props: ['blogpost'],
            template: `
            <div id="singleBlogPost">
                <h2>{{ blogpost.title }}</h2>
                <h3>{{ blogpost.username }}</h3>
                <h4>{{ blogpost.date }}</h4>
                <p>{{ blogpost.content }}</p>
            </div>`
        })

        var blogVue = new Vue({
            el: '#blogPosts',
            data: {
                posts: [
                    {
                        title: 'First post',
                        username: 'Me',
                        date: new Date(),
                        content: 'My first blog post'
                    },
                    {
                        title: 'Second post',
                        username: 'Me',
                        date: new Date(),
                        content: 'Another blog post'
                    }
                ]
            }
        })

        var postBlogVue = new Vue({
            el: '#blogPostCreation',
            data: {
                title: '',
                username: '',
                date: '',
                content: ''
            },
            methods: {
                publishPost: function() {
                    var postData = {
                        title: this.title,
                        username:  this.username,
                        date: this.date,
                        content: this.content
                    }
                    blogVue.posts.push(postData)
                    this.title = ''
                    this.username = ''
                    this.date = ''
                    this.content = ''
                }
            }
        })
    </script>
</body>
</html>